<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration
  xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
<appender name="fileAppender"
  class="org.apache.log4j.FileAppender">
   <!-- <param name="Threshold" value="INFO" /> -->
 <param name="append" value="false" />
 <param name="File" value="logfile.log" />

<layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern" value="%d %-5p [%c{1}] %m %n" />

 </layout>

</appender>
<appender name="consoleAppender"
 class="org.apache.log4j.ConsoleAppender">
 <layout class="org.apache.log4j.PatternLayout">
<param name="ConversionPattern"
 value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n" />
<!-- <param name="ConversionPattern" value="%-5p[%c{1}]: %m%n"/> -->
</layout>
 </appender>
 <root>
<level value="INFO" />

<levale value="startTestCase"></levale>

<appender-ref ref="fileAppender" />
<appender-ref ref="consoleAppender" />
 </root>

</log4j:configuration>